html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-family: $font-roboto;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}

h1, .like-h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.35rem;
  font-family: $font-inter;
  @media screen and (min-width: 576px) {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
h2, .like-h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: $font-inter;
  @media screen and (min-width: 576px) {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}